@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--color-bg-primary: #ffffff;
	--color-bg-secondary: #edf2f7;
	--color-text-primary: #2d3748;
	--color-text-secondary: #4a5568;
	--color-text-accent: #2b6cb0;
	--color-bg-input: #edf2f7;
	--color-bg-button: #2b6cb0;
}

@layer base {
      body {
            @apply font-rubik
      }
	.rounded-div {
		@apply border border-[#ffffff] rounded-2xl shadow-xl bg-primary px-4 max-w-[1140px] w-full mx-auto;
	}
	.rounded-div2 {
		@apply border border-gray-300/60 rounded-2xl p-6 bg-white w-full mx-auto;
	}
	li {
		@apply cursor-pointer text-sm hover:text-indigo-600 duration-75 hover:scale-105 font-medium
	}
	.c-btn {
		@apply bg-indigo-600 border border-indigo-600 text-white px-5 py-2 rounded-lg shadow-lg hover:shadow-2xl hover:bg-transparent hover:text-indigo-600 duration-200
	}
}
